meta:
  author: danbowles
  version: 1
  engine: 4.2.1
units:
  # U: 19.05 # 19.05mm MX spacing
  # u: 19 # 19mm MX spacing
  # cx: 18 # 18mm Choc X spacing
  # cy: 17 # 17mm Choc Y spacing
  $default_width: cx
  $default_height: cy
  kx: cx
  ky: cy
  m2: 2.2
  chocv1: 15
  px: (kx + 4) / 2
  py: (ky + 4) / 2
points:
  mirror: &mirror
    ref: thumb_outer_single
    distance: 2kx
  key:
    spread: kx + 0.4
    padding: ky + 0.4
  zones:
    matrix:
      rotate: 9.45
      columns:
        pinky:
          key.stagger: -9
        ring:
          key:
            spread: kx + 2
            splay: -4
            stagger: 12
        middle:
          key:
            stagger: 6
            splay: -3
            spread: kx + 1.5
        index:
          key:
            splay: -2.5
            stagger: -7.5
            spread: kx + 1.5
        inner:
          key.stagger: -2
      rows:
        bottom:
        home:
        top:
    thumb:
      anchor:
        ref: matrix_inner_top
        shift: [-22, -56]
      columns:
        inner:
          key:
            splay: 0
            asym: source
        neutral:
          key:
            splay: -15
            shift: [4.5, -2]
        outer:
          key:
            splay: -15
            shift: [9, -2.89]
      rows:
        single:
outlines:
  switches_left:
    - what: rectangle
      where: /(^matrix_.*)|(^thumb_.*)/
      size: [chocv1, chocv1]
  switches_right:
    - what: rectangle
      where: /^mirror_.*/
      size: [chocv1, chocv1]
  keycaps_left:
    # these help snap the footprint in place
    - what: circle
      radius: 1
      where: /(^matrix_.*)|(^thumb_.*)/
    - what: rectangle
      where: /(^matrix_.*)|(^thumb_.*)/
      size: [kx, ky]
      operation: stack
  keycaps_right:
    # these help snap the footprint in place
    - what: circle
      radius: 1
      where: /(^mirror_matrix_.*)|(^mirror_thumb_.*)/
    - what: rectangle
      where: /(^mirror_matrix_.*)|(^mirror_thumb_.*)/
      size: [kx, ky]
      operation: stack
  helios_left:
    - what: rectangle
      adjust.rotate: 0
      size: [18, 33]
      where:
        ref: matrix_inner_top
        shift: [22, -4]
  helios_right:
    - what: rectangle
      adjust.rotate: 0
      size: [18, 33]
      where:
        ref: mirror_matrix_inner_top
        shift: [22, -4]
  trrs_left:
    - what: rectangle
      size: [6, 12]
      adjust.rotate: 90
      where:
        ref: matrix_inner_bottom
        shift: [1.67kx, 6]
  trrs_right:
    - what: rectangle
      size: [6, 12]
      adjust.rotate: 90
      where:
        ref: mirror_matrix_inner_bottom
        shift: [1.67kx, 6]
  trackball_breakout_right:
    - what: rectangle
      size: [2, 22]
      where:
        ref: mirror_matrix_ring_bottom
        shift: [1, -1.7ky]
  board_left:
    - what: polygon
      fillet: 2
      points:
        - ref: matrix_pinky_top
          shift: [-0.75kx, 0.75ky]
        - ref: matrix_pinky_top
          shift: [0.5kx, 0.75ky]

        - ref: matrix_ring_top
          shift: [-0.73kx, 0.75ky]
        - ref: matrix_ring_top
          shift: [0.49kx, 0.76ky]

        - ref: matrix_middle_top
          shift: [-0.72kx, 0.75ky]
        - ref: matrix_middle_top
          shift: [0.7kx, 0.75ky]

        - ref: matrix_index_top
          shift: [-0.5kx, 0.75ky]
        - ref: matrix_index_top
          shift: [0.7kx, 0.75ky]

        - ref: matrix_inner_top
          shift: [-0.32kx, 0.735ky]
        - ref: matrix_inner_top
          shift: [2kx, 0.735ky]

        - ref: matrix_inner_bottom
          shift: [2kx, -0.735ky]

        - ref: thumb_outer_single
          shift: [0.75kx, 0.75ky]
        - ref: thumb_outer_single
          shift: [0.75kx, -0.75ky]
        - ref: thumb_outer_single
          shift: [-0.5kx, -0.75ky]

        - ref: thumb_neutral_single
          shift: [-0.5kx, -0.75ky]

        - ref: thumb_inner_single
          shift: [-0.75kx, -0.75ky]
        - ref: thumb_inner_single
          shift: [-0.75kx, -0.2ky]

        - ref: matrix_pinky_bottom
          shift: [0.8kx, -0.8ky]
        - ref: matrix_pinky_bottom
          shift: [-0.8kx, -0.8ky]
  board_right:
    - what: polygon
      fillet: 2
      points:
        - ref: mirror_matrix_pinky_top
          shift: [-0.75kx, 0.75ky]
        - ref: mirror_matrix_pinky_top
          shift: [0.5kx, 0.75ky]

        - ref: mirror_matrix_ring_top
          shift: [-0.73kx, 0.75ky]
        - ref: mirror_matrix_ring_top
          shift: [0.49kx, 0.76ky]

        - ref: mirror_matrix_middle_top
          shift: [-0.72kx, 0.75ky]
        - ref: mirror_matrix_middle_top
          shift: [0.7kx, 0.75ky]

        - ref: mirror_matrix_index_top
          shift: [-0.5kx, 0.75ky]
        - ref: mirror_matrix_index_top
          shift: [0.7kx, 0.75ky]

        - ref: mirror_matrix_inner_top
          shift: [-0.32kx, 0.735ky]
        - ref: mirror_matrix_inner_top
          shift: [2kx, 0.735ky]

        - ref: mirror_matrix_inner_bottom
          shift: [2kx, -0.735ky]

        - ref: mirror_thumb_outer_single
          shift: [0.75kx, 0.75ky]
        - ref: mirror_thumb_outer_single
          shift: [0.75kx, -0.75ky]
        - ref: mirror_thumb_outer_single
          shift: [-0.5kx, -0.75ky]

        - ref: mirror_thumb_neutral_single
          shift: [-0.7kx, -0.75ky]
        - ref: mirror_thumb_neutral_single
          shift: [-0.7kx, 0.5ky]

        - ref: mirror_matrix_index_bottom
          shift: [0, -12]
        - ref: mirror_matrix_middle_bottom
          shift: [0, -18]

        - ref: mirror_matrix_ring_bottom
          shift: [0, -12]
        - ref: mirror_matrix_ring_bottom
          shift: [0, -43]

        - ref: mirror_matrix_pinky_bottom
          shift: [0.5kx, -1.8ky]
        - ref: mirror_matrix_pinky_bottom
          shift: [0.5kx, -.8ky]
        - ref: mirror_matrix_pinky_bottom
          shift: [-0.8kx, -.8ky]

  combo_left:
    - name: board_left
    - name: switches_left
      operation: stack
    - name: helios_left
      operation: stack
    - name: trrs_left
      operation: stack
    - name: keycaps_left
      operation: stack
  combo_right:
    - name: board_right
    - name: switches_right
      operation: stack
    - name: trackball_breakout_right
      operation: stack
    - name: helios_right
      operation: stack
    - name: trrs_right
      operation: stack
    - name: keycaps_right
      operation: stack
  combo_left_right:
    - name: combo_left
    - name: combo_right
      operation: stack
